#maintool {

    margin: auto 510px;
    background-color: white;
    font-style: italic;
    outline-color: aqua;

}

#maintool>li {

    display: inline;

}
#pagehead {

    text-align: center;
    font-size: large;
    font-style: italic;
    background-color: white;
    font-size: 30px;
    color: brown;

}
.singin {

    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 10px;

}




.table{
margin: auto 400px;
font-size:15px;
font-family:Arial, Helvetica, sans-serif;
font-style: italic;




}